{% extends "base_generic.html" %}

{% block content %}
<div>
   <h1>Login</h1>
  </br>
</div>
<div class ="divUserAndPassword">
    <span class = "spandivUserAndPassword">
            <a class = "AdivUserAndPassword">Digite Nome e Senha</a></br>
    </span>
</div>
{% if form.erros %}
<p class="pLogin" >Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="pLogin" >Your account doesn't have access to this page. To proceed, please login with and account that has access.</p>
    {% else %}
   </br> <p class="pLogin" >Please login to see this page.</p></br>
    {% endif %}
{% endif %}

<form style="width:25%" method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="DivLoginForm">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div></br>
<div class="DivLoginForm">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div></br>

<div class="DivLoginBack">
  <input id="btnLogin" type="submit" value="Login" />
  <input type="hidden" name="next" value="" />
</div>
</form>
{% endblock %}
