{% extends "base_generic.html" %}

{% block content %}

<h1>Login</h1></br>

<div style="margin-left: 20px;position:relative;left:20px;overflow-x:hidden">
    <span style="color:white;border-bottom:1.5px dotted white;padding-bottom:1px">
            <a style="border-left:2px dotted #5ddeea;padding-left:5px">Digite Nome e Senha</a></br></span>

{% if form.erros %}
<p style="color:white" >Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p style="color:white" >Your account doesn't have access to this page. To proceed,
    please login with and account that has access.</p>
    {% else %}
   </br> <p style="color:white" >Please login to see this page.</p></br>
    {% endif %}
{% endif %}

<form style="width:25%" method="post" action="{% url 'login' %}">
{% csrf_token %}

<div style="padding:7px;background-color:white;border-style: solid;border-color: gray black black black;border-radius: 5px;box-shadow: 1px 0.5px 2px rgba(93, 222, 234, 0.5), -2px 1px 2px rgba(93, 222, 234, 0.5), 1px 1px 2px rgba(93, 222, 234, 0.5);">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div></br>
<div style="padding:7px;background-color:white;border-style: solid;border-color: gray black black black;border-radius: 5px;box-shadow: 1px 0.5px 2px rgba(93, 222, 234, 0.5), -2px 1px 2px rgba(93, 222, 234, 0.5), 1px 1px 2px rgba(93, 222, 234, 0.5);">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div></br>

<div style="background-color:#1d2534">
  <input style="color:black;background-color:white;border-style: solid;border-color: gray black black black;border-radius: 5px;box-shadow: 1px 0.5px 2px rgba(93, 222, 234, 0.5), -2px 1px 2px rgba(93, 222, 234, 0.5), 1px 1px 2px rgba(93, 222, 234, 0.5);" type="submit" value="Login" />
  <input type="hidden" name="next" value="" />
</div>
</form>
{% endblock %}
