{% extends "base_generic.html" %}
{% block head %}
   {% load chartit %}
   {{ chart_list|load_charts:"chart_1" }}
   {% endblock %}
{% block content %}
    <h1>Monitoramentos</h1></br>
    
    </br>
    </br>
    <div class="divgrafico" style="margin:0 auto;position:absolute;width:500px;height:400px;box-shadow: 1px 0.5px 2px #5ddeea;border-style:outset;border-color:black;border-width:3px;border-radius: 5px;overflow:hidden;margin-top:2px;margin-left:5px;left:26%;top:84px" id="chart_1"> Chart will be rendered here </div>
    
{% endblock %}









